<p class="d-flex">
  <strong class="mb-2 text-muted">Repay Amount</strong>
  <div class="d-flex align-items-baseline">
    <h1>$<%= loan.repay_amount || loan.amount %></h1> &nbsp;
    <% if false %>
      <span>for <strong><%= loan.interest %>%</strong></span>
    <% end %>
  </div>
</p>
